* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
	padding: 30px;
}

a {
	color: #900;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

*:focus {
}

header, section {
	width: 100%;
	margin: 30px auto;
	max-width: 400px;
}

.result {
	list-style-type: none;
	display: block;
	margin: 10px auto;
	padding: 10px;
	border: 1px solid #CCC;
	border-radius: 10px;
	width: 100%;
	text-align: center;
}

.result img {
	width: 100%;
	border: 3px solid rgba(255,255,255,0);
}